html {
  scroll-padding-top: 4.5em;
}

a{
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.banner {
  background-image: "../img/bg-home-2.jpg";
  background-position: center;
  background-size: cover;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: #0000001a;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow:
    inset 0 0.5em 1.5em #0000001a,
    inset 0 0.125em 0.5em #00000026;
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .bi {
  width: 1em;
  height: 1em;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}


/* cores */
.bg-gradient {
  background: linear-gradient(to left top, #2E0875, #7A0474);
}

.bg-azul {
  background-color: #2E0875;
}

.bg-roxo {
  background-color: #80297D;
}

.bg-roxo-claro {
  background-color: #D51BED;
}

.border-laranja {
  border-color: #F29804 !important;
}

.border-roxo {
  border-color: #80297D !important;
}

.border-roxo-claro {
  border-color: #D51BED !important;

}

.text-roxo {
  color: #D51BED;
}

.text-laranja {
  color: #F29804;
}

.bg-amarelo{
  background-color: #fffe32;
}
.bg-amareloo{
  background-color: #f9bc02;
}
.bg-verde{
  background-color: #d0e92b;
}

.bg-azul{
  background-color: #001A66;
}

.nav-link{
  color: #fff;
}



/* faq */
.accordion {
  --bs-accordion-color: #000;
  --bs-accordion-bg: #ddd;
  --bs-accordion-border-color: #000;
  --bs-accordion-btn-color: #000;
  --bs-accordion-btn-bg: #f9bc02;
  --bs-accordion-active-color: #000;
  --bs-accordion-active-bg: #f9bc02;
}


.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}


.parallax-section {
  position: relative;
  overflow: hidden;
  background: transparent;
  height: 400px;
}

.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/parallax-1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.parallax-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(125, 44, 124, 0.7); */
  background: linear-gradient(to left top, #2E0875, #7A0474);
  opacity: 80%;
  /* Overlay de 50% com cor roxa */
  z-index: 1;
}

.parallax-content {
  position: relative;
  z-index: 2;
}



/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .parallax-bg {
    background-attachment: scroll;
  }
}